#ulp{
    background-image: url('../../assets/839114.jpg');
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
}#ulp div {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}#announcements {
    background-image: url('../../assets/859128.jpg');
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
}#announcements div {
    /*background-color: rgba(0, 0, 0, 0.5);*/

    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    width: 80%;
    height: 80%;

}
#ar{
    background-image: url('../../assets/859072.jpg');
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
}#ar div {
    /*background-color: rgba(0, 0, 0, 0.5);*/

    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    width: 80%;
    height: 80%;

}#ss{
    background-image: url('../../assets/859078.jpg');
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
}#ss div {
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}
#ssdiv1 {
    background: rgba(0, 0, 0, 0.729);
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    width: 40%;
    height: 50%;
}
