/* devicesTable.css */
#written {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: #000; /* make sure text is black */
}

#written td, #written th {
  border: 1px solid #ddd;
  padding: 8px;
  color: #000; /* ensure table cell text is black */
}

#written tr:nth-child(even) {
  background-color: #f2f2f2;
}

#written tr:hover {
  background-color: #ccc; /* a bit darker for better hover visibility */
}

#written th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0d89f5;
  color: #fff; /* white text on blue header */
}
